<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
	<link rel="stylesheet" type="text/css" href="CSS/main.css">
</head>
<body>

<center>
	<a href="/login">Login</a>|<a href="/registration">Registration</a>
</center>
	
</body>	
</html>